.mainContainer {
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: grey;
    font-size: 3vh;
    padding: 0;
    margin: 30px;
}

.description {
    padding-left: 30px;
}