.container {
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
    font-size: 3vh;
    cursor: pointer;
    width: 140px;
    height: 110px;
    z-index: 2;
    box-sizing: border-box;
}
.choice{
    position: absolute;
    border-radius: 5px;
    z-index: 5;
    width: 20%;
    height: 25%;
    right: 10px;
    top:10px;
    background-color: blue;
}