.mainContainer {
    height: 78vh;
    composes: block-center from '../../_variables.css';
    box-sizing: border-box;
}

.photoContainer {
    height: 100%;
    width: 50vw;
    margin-top: 40px;
    flex: 1 1 40%;
    padding: 0 5%;

}

.descriptionContainer {
    height: 100%;
    width: 50vw;
    background-color: #f8f8f8;
    border-left: solid 2px #E3E3E3;
}

