.descriptionContainer {
    height: 100%;
    width: 50vw;
    background-color: #f8f8f8;
    border-left: solid 2px #E3E3E3;

}

.infoContainer {
    min-height: 45vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
}

.itemInfo {
    display: flex;
    padding-left: 20px;
}

.property {
    text-align: start;
    width: 50%;
}

.description {
    text-align: start;
    padding:  0 10px;
}
.special{
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: normal;
    background: #F0F0F0;
    box-shadow: 0 3px 5px rgba(32, 32, 32, 0.13);
}
